<div data-role="popup" data-overlay-theme="b" data-theme="a" class="ui-content" id="popup-signin">
  <!-- <a href="#" data-rel="back" class="ui-btn ui-corner-all ui-shadow ui-btn-a ui-icon-delete ui-btn-icon-notext ui-btn-right">Close</a> -->
	<%= form_tag login_path, role: "form" do %>
	<ul data-role="listview" data-inset="true" >
		<li><%= label_tag :email, "Email" %><%= email_field_tag :email %></li>
		<li><%= label_tag :password, "Password" %><%= password_field_tag :password %></li>
	</ul>
	<%= submit_tag "Log in" %>
	<% end %>
	<div class="center-wrapper">
	<%= link_to "Or create an account", "#popup-signup" %>
	</div>
</div>
